/* General Styling */

*{

	margin: 0;

	padding: 0;

	box-sizing: border-box;

}



h1{

	color:skyblue;

}



body{

	font-family: 'PT Sans', sans-serif; 

	line-height: 1.4;

	color: skyblue;

	overflow-x: hidden; 

}

.container{

	max-width: 1100px;

	margin: auto;

}

.text-primary{

	color : skyblue;

}



.bg-light {

	background: white;

	color: #333;

}



.bg-dark {

	background: #333;

	color: #fff;

}



/* Navbar */

#navbar{

	display: flex;

	justify-content: space-between;

	background: black;

	color: #fff;

	padding: 1.5rem 8rem;

	position: sticky;

	top: 0;

	z-index: 1;

	border-bottom: 3px solid green;

}

#navbar ul{

	display: flex;

	align-items: center;

	list-style: none;

}



#navbar h2 a{

	color: black;

	text-decoration: none;

}



#navbar li a {

	text-decoration: none;

	color: #fff;

	padding: 1rem;

	font-size: 1.3rem;

	margin: 0 0.5rem;

	border-radius: 5px;

	transition: background-color 0.3s;

}

#navbar li a:hover{

	background-color: #e35f5f;

}



/* Showcase Area */

#showcase{

	background-color:pink;


width:500%;

	height: 69.7vh;
	

}

.showcase-content{

	display: flex;

	flex-direction: column;

	text-align: center;

	align-items: center;

	justify-content: center;

	position: absolute;

	top: 81px;

	left: 0;

	bottom: 0;

	right: 0;

	background: rgba(0,0,0,0.6);

	color: #fff;

}



.showcase-content h1{

	font-size: 4rem;

	margin-bottom: 2rem;

}



.showcase-content .btn{

	font-size: 1.5rem;

	padding: 1rem 10rem;

	transition: color 0.3s, background 0.3s;

}



.showcase-content .btn:hover {

	background: #985be3;

	color: white;

}



.btn {

	color: #985be3;

	text-decoration: none;

	display: inline-block;

	padding: 1rem 2rem;

	border: 1px solid #985be3;

	border-radius: 10px;

	font-weight: bold;

	

}





#about {

	padding: 5rem 0;

}



#about h2,#portfolio h2 {

	text-align: center;

	font-size: 3rem;

	margin-bottom: 3rem;

}



#about h3 {

	font-size: 2rem;

	margin-bottom: 1rem;

}



#about p.lead {

	margin-bottom: 1rem;

}



#about .about-content {

	display: flex;

}

#about .about-text,#about .about-image{

	flex: 1;

}

#about .about-text {

	text-align: justify;

}



#about .about-image img {

	display: block;

	margin-left: auto;

	width: 60%;

	border-radius: 50%;

	margin-top: 10px;

}



/* portfolio */



#portfolio {

	padding: 5rem 0;

}



#portfolio h3 {

	text-align: center;

	margin-bottom: 2rem;

	font-size: 2rem;

}



#portfolio .boxes {

	display: flex;

}



#portfolio .box {

	background: #fff;

	flex: 1;

	width: 100px;

	padding: 3rem;

	margin: 0 3rem;

	border-radius: 10px;

	box-shadow: 2px 2px 5px #d1d1d1;

	font-size: 1.3rem;

}



#portfolio .box i {

	color: #fff;

	padding: 1rem;

	background: #9D0C3F;

	border-radius: 100%;

	margin: 0 1rem;

	margin-bottom: 2rem;

}



/* contact */

#contact {

	padding: 5rem 0;

}

#contact h2 {

	text-align: center;

	font-size: 3rem;

	margin-bottom: 8rem;

}

#contact h3 {

	text-align: center;

	font-size: 2.5rem;

	margin: 3rem 0;

	margin-top: 5rem;

}

#contact .form-box {

	;

	background: #fff;

	padding: 3rem;

	box-shadow: 2px 2px 5px #d1d1d1;

	border-radius: 10px;

}



}

#contact .form-group input,#contact .form-group textarea {

	width: 80%;

	margin-left: 10%;

	font-size: 1.3rem;

	padding: 1rem;

	border: 0.5px solid #333;

	border-radius: 5px;

}





#contact .contact-btn:hover {

	background: skyblue;

}

#contact .form-container {

	position: relative;

}